


/** Styles for tablon **/
/*************************************************************************/

.tablonmsg, .tablonwarn {
	padding: 0.5em 0.5em;
	border-radius: 5px;
	color: #fff;
	margin: 1em 0;
}
.tablonmsg {
	background: #1f8dd6;
}
.tablonwarn {
	background: #D6491F;
}
.tablonmsg p, .tablonwarn p {
	margin: 0.1em 0em;
}
.tablonmsg a, .tablonmsg a:visited  {
	color: rgb(169, 226, 255);
	font-weight: bold;
}
.tablonwarn a, .tablonwarn a:visited {
	color: rgb(255, 169, 169);
	font-weight: bold;
}



.tablonwarn:after,  .tablonmsg:after  { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}


.tablonwarn p, .tablonmsg p {
	width: calc(100% - 2.5em);
	/*padding-right: 3em;*/
	float:left;
}

.tablonwarn .close, .tablonmsg .close {
	float:right;
	color: white;
    font-weight: bold;
	opacity: 0.5;
	cursor:pointer;
}




/** Emoji **/
/*************************************************************************/

.emoji {
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
}

/** Code **/
/*************************************************************************/

.hljs { 
	border: 2px solid #eee;
	border-radius: 5px;
	background: #f8f8f8;
}

/** Links **/
/*************************************************************************/
a {
	color: #3b8bba;
	text-decoration: none;
}
a:visited {
	color: #265778;
}
@media only screen and (max-width: 900px) {
	.collapsable{
	    display: none;
	}
}
.tversion{
	text-transform:none;
	font-size: 60%;
}


/** Default font **/
/*************************************************************************/

html, button, input, select, textarea{
	font-family: 'Arial', 'Helvetica', sans-serif;
}





/** Tablón colors **/
/*************************************************************************/


.pure-button-primary,
.tablonmsg,
#menu .pure-menu-selected,
#menu .pure-menu-heading {
    background: #40C350;
}




/** Style for the toggle **/
/*************************************************************************/

.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
.cmn-toggle + label {
	top: 10px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
}
input.cmn-toggle-round-flat + label {
	padding: 2px;
	width: 49px;
	height: 24px;
	background-color: #dddddd;
	border-radius: 24px;
	transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
	display: block;
	position: absolute;
	content: "";
}
input.cmn-toggle-round-flat + label:before {
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	background-color: #fff;
	border-radius: 24px;
	transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
	top: 4px;
	left: 4px;
	bottom: 4px;
	width: 21px;
	background-color: #dddddd;
	border-radius: 24px;
	transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
	
    background-color: #40C350;
	
}
input.cmn-toggle-round-flat:checked + label:after {
	margin-left: 24px;
	
    background-color: #40C350;
	
}






/** Data sort styles **/
/** https://github.com/HubSpot/sortable **/
/*************************************************************************/

table[data-sortable] th:not([data-sortable="false"]) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  cursor: pointer;
}
table[data-sortable] th:after {
  content: "";
  visibility: hidden;
  display: inline-block;
  vertical-align: inherit;
  height: 0;
  width: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  margin-right: 1px;
  margin-left: 10px;
  float: right;
}
table[data-sortable] th[data-sorted="true"]:after {
  visibility: visible;
}
table[data-sortable] th[data-sorted-direction="descending"]:after {
  border-top-color: inherit;
  margin-top: 8px;
}
table[data-sortable] th[data-sorted-direction="ascending"]:after {
  border-bottom-color: inherit;
  margin-top: 3px;
}

/** Blink **/
/*************************************************************************/

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.blinkimg {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}




